:root {
    --widthMenu: 40px; 
}

header {
    background-color: #171D25;
    height: 11vh;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_container>.header_buttons_container {
    display: flex;
    align-items: start;
}

.logo_steam {
    width: 50%;
    padding-bottom: 27px;
    padding-top: 27px;
}

.header_page_container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    right: 150px;
}

.button_page {
    color: rgb(223, 223, 223);
}

.button_page:hover {
    color: white;
}

.button_page_select {
    color: #1c86d1;
    border-bottom: 3px solid #1c86d1;
    border-radius: 1px;
}

.button_page_select:hover .store_window {
    display: flex;
    background-color: #3D4450;
    justify-content: center;
    flex-direction: column;
}

.button_page_select:hover {
    border-bottom: 0px solid #1c86d100;
    border-radius: 0px;
}

.store_window {
    display: none;
    background-color: #3D4450;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 3;
}

.store_window_text {
    width: 100px;
    color: white;
    font-size: small;
    font-family: sans-serif;
    margin: 0px;
    padding: 5px;
}

.store_window_text:hover {
    color: black;
    background-color: white;
}

.decoration_none {
    text-decoration: none;
}

.decoration_none_h3{
    text-decoration: none;
    color: #1c86d1;
}

.header_buttons_container {
    position: relative;
    display: flex;
    flex-direction: row;
    right: 90px;
}

.install_steam_button {
    padding-top: 10px;
}

.buttons_text {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    bottom: 5px;
}

.stick {
    color: white;
    padding-right: 7px;
    padding-left: 7px;
}

.bot_arrow {
    color: white;
    position: relative;
    top: 20px;
    left: 5px;
}

.white_text {
    color: rgb(223, 223, 223);
}

.white_text:hover {
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #0E1014;
    height: fit-content;
    justify-content: flex-start;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding-top: 100px;
}

.aside_item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 15px;
    width: 200px;
}

.aside_item:hover {
    background-color: #414653; 
}

.aside_item_general {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #414653; 
    width: 200px;
}

.icon_aside {
    width: 30px;
    height: 30px;
}

.line {
    background-color: #2E3033;
    width: 230px;
    height: 1px;
}

.text_aside {
    color: #C3D3D8;
    margin: 0px;
    margin-top: 8px;
    margin-left: 10px;
    font-family: sans-serif;
}

.aside_h2 {
    color: #7C8588;
    font-family: sans-serif;
    font-size: smaller;
    text-align: left;
    width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 60px;
}

.top_text_content {
    display: flex;
    flex-direction: column;
}

.statistics_chart {
    display: flex;
    flex-direction: column;
}

.statistics_games{
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
} 

.statistics_conteiner {
    display: flex;
    flex-direction: column;
}

.statistics_content {
    display: flex;
    flex-direction: column;
    background-color: #1B1D22;
    padding: 7px;
    border-radius: 5px;
}

.statistics_text {
    display: flex;
    flex-direction: column;
}

.sales_text_item{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
} 

.sales_text_item:hover {
    background-color: #2F3135;
}

.text_main {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.blue_line {
    background-color: #1A9FFF;
    width: 460px;
    height: 2px;
}

.grey_line {
    background-color: #4C5661;
    width: 460px;
    height: 1px;
}

.popular_text_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 17.2px;
    padding-left: 5px;
}

.popular_text_item:hover {
    background-color: #2F3135;
}

.text_item_content {
    display: flex;
    flex-direction: row;
}

.numbers_text {
    display: flex;
    flex-direction: column;
}

.statistics_banners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner_conteiner {
    display: flex;
    flex-direction: column;
}

.statistics_year {
    display: flex;
    flex-direction: column;
}

.statistics_more {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.more_container {
    display: flex;
    flex-direction: column;
}

.white_h1_main {
    color: white;
    font-family: sans-serif;
    margin: 0px;
}

.white_p_main {
    color: white;
    font-family: sans-serif;
    margin: 0px;
    margin-top: 10px;
}

.p_main {
    color: #C5CBD8;
    font-family: sans-serif;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 7px;
}

.h3_number {
    color: white;
    font-family: sans-serif;
    font-size: x-large;
    margin: 0px;
}

.h3_text {
    color: white;
    font-family: sans-serif;
    font-size: small;
    margin: 0px;
}

.p_text {
    color: #A0AAB6;
    font-family: sans-serif;
    font-size: small;
    margin: 0px;
}

.p_number {
    color: #A7A7A7;
    font-family: sans-serif;
    font-size: small;
    margin: 0px;
}

.h3_text2 {
    color: white;
    font-family: sans-serif;
    font-size: small;
    margin: 0px;
    margin-left: 10px;
}

.statistics_button {
    border: none;
    height: 40px;
    background-color: #1E2834;
    color: white;
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    border-radius: 3px;
}

.statistics_button:hover {
    background-color: #3A4D64;
}

.h3_numbers {
    color: white;
    margin: 0px;
    font-family: sans-serif;
    font-size: medium;
}

.p_text_number {
    color: #A0AAB6;
    margin: 0px;
    font-family: sans-serif;
    font-size: x-small;
}

.p_banner {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: large;
    margin: 0px;
    margin-top: 60px;
    margin-bottom: 7px;
}

.img_banner_size {
    width: 1000px;
}

.foryear_text {
    color: white;
    font-family: sans-serif;
    font-size: large;
    margin: 0px;
    margin-top: 60px;
    margin-bottom: 7px;
}

.more_statistics_p {
    color: white;
    font-family: sans-serif;
    font-size: medium;
    margin: 0px;
    margin-top: 60px;
    margin-bottom: 7px;
}

.more_item {
    background-color: #191C20;
    border-radius: 5px;
    margin-bottom: 5px;
}

.text_more {
    color: white;
    font-family: sans-serif;
    font-size: small;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.more_item:hover .text_more{
    color: #66C0F4;
}

.img_banner_anim {
    transition: all 1s;
}

.img_banner_anim:hover {
    transform: scale(1.1);
}



footer {
    display: flex;
    height: 290px;
    background-color: #171A21;
    justify-content: center;
}

.footer_wrapper {
    width: 940px;
    height: 100px;

}

.footer_container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.img_footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.img_valve {
    width: 10%;
}

.img_steam {
    width: 10%;
}

.p_footer {
    color: #969EAB;
}

.a_footer {
    text-decoration: none;
    color: #C6D4DF;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
}

.a_footer:hover {
    color: white;
}

.a_footer1 {
    display: flex;
    text-decoration: none;
    color: #C6D4DF;
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
    width: 100%;
    justify-content: center;
}

.a_footer1:hover {
    color: white;
}

.min_top_nav_footer {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;

}

.min_bot_nav_footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stick_footer {
    position: relative;
    color: #C6D4DF;
    bottom: 20px;
}

.footer_container>.min_bot_nav_footer {
    display: flex;
    justify-content: center;
}

hr {
    width: 100%;
}

.img_footer1 {
    width: 16px;
    height: 16px;
}

.text_footer {
    width: fit-content;
    height: fit-content;
}

.menu_media_window {
    background-color: #171A21;
    position: fixed;
    z-index: 10;
    padding: 20px;
    width: 20vw;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    left: 0px;
    display: none;
    margin-top: 100px;
}

.h3_media_menu {
    color: #BDBDBD;
    margin: 0px;
    margin-bottom: 2px;
    border: 1px solid black;
    width: 100%;
    height: 5%;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    position: relative;

}

.menu_media {
    width: var(--widthMenu);
    position: fixed;
    right: 0px;
    display: none;
}

.hamburger_button {
    width: 100%;
}

.hamburger_button:hover .menu_media_window{
    display: block;
}

.button_img {
    width: 100%;
}

@media screen and (max-width:1500px) and (min-width:1300px) {
    main {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 60px;
    }
}

@media screen and (max-width:1300px) and (min-width:1215px) {
    main {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 60px;
        width: 70vw;
    }

    .statistics_games{
        display: flex;
        flex-direction: row;
        width: 70vw;
        justify-content: space-between;
    } 

    .statistics_conteiner {
        display: flex;
        flex-direction: column;
        width: 34vw;
    }
    
    .statistics_content {
        display: flex;
        flex-direction: column;
        background-color: #1B1D22;
        padding: 7px;
        border-radius: 5px;
    }

    .blue_line {
        background-color: #1A9FFF;
        width: 100%;
        height: 2px;
    }
    
    .grey_line {
        background-color: #4C5661;
        width: 100%;
        height: 1px;
    }

    .statistics_banners {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .banner_conteiner {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .statistics_year {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img_banner_size {
        width: 100%;
    }
}

@media screen and (max-width:1215px) and (min-width:995px) {
    main {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 60px;
        width: 70vw;
    }

    .statistics_games{
        display: flex;
        flex-direction: row;
        width: 70vw;
        justify-content: space-between;
    } 

    .statistics_conteiner {
        display: flex;
        flex-direction: column;
        width: 34vw;
    }
    
    .statistics_content {
        display: flex;
        flex-direction: column;
        background-color: #1B1D22;
        padding: 7px;
        border-radius: 5px;
    }

    .blue_line {
        background-color: #1A9FFF;
        width: 100%;
        height: 2px;
    }
    
    .grey_line {
        background-color: #4C5661;
        width: 100%;
        height: 1px;
    }

    .statistics_banners {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .banner_conteiner {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .statistics_year {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img_banner_size {
        width: 100%;
    }

    .header_page_container {
        position: relative;
        display: none;
        flex-direction: row;
        gap: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        right: 150px;
    }

    .header_buttons_container {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    header {
        position:sticky;
        background-color: #171D25;
        height: fit-content;
        top: 0px;
        z-index: 1;
    }

    .menu_media {
        width: var(--widthMenu);
        display: block;
    }

    footer {
        display: none;
    }
}

@media screen and (max-width:995px) and (min-width:655px) {

    .menu_media {
        width: var(--widthMenu);
        display: block;
    }

    .top_text_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        position:sticky;
        background-color: #171D25;
        height: fit-content;
        top: 0px;
        z-index: 1;
    }

    main {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 60px;
        width: 90vw;
    }

    .statistics_games{
        display: flex;
        flex-direction: row;
        width: 90vw;
        justify-content: space-between;
    } 

    .statistics_conteiner {
        display: flex;
        flex-direction: column;
        width: 44vw;
    }
    
    .statistics_content {
        display: flex;
        flex-direction: column;
        background-color: #1B1D22;
        padding: 7px;
        border-radius: 5px;
    }

    .blue_line {
        background-color: #1A9FFF;
        width: 100%;
        height: 2px;
    }
    
    .grey_line {
        background-color: #4C5661;
        width: 100%;
        height: 1px;
    }

    .statistics_banners {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .banner_conteiner {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .statistics_year {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img_banner_size {
        width: 100%;
    }

    .header_page_container {
        position: relative;
        display: none;
        flex-direction: row;
        gap: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        right: 150px;
    }

    .header_buttons_container {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }


    footer {
        display: none;
    }

    aside {
        display: none;
    }

}

@media screen and (max-width:655px){

    .menu_media {
        width: var(--widthMenu);
        display: block;
    }

    .top_text_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        position:sticky;
        background-color: #171D25;
        height: fit-content;
        top: 0px;
        z-index: 1;
    }

    main {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 60px;
        width: 80%;
    }

    .statistics_games{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    } 

    .statistics_conteiner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .statistics_content {
        display: flex;
        flex-direction: column;
        background-color: #1B1D22;
        padding: 7px;
        border-radius: 5px;
    }

    .blue_line {
        background-color: #1A9FFF;
        width: 100%;
        height: 2px;
    }
    
    .grey_line {
        background-color: #4C5661;
        width: 100%;
        height: 1px;
    }

    .statistics_banners {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .banner_conteiner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .statistics_year {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img_banner_size {
        width: 100%;
    }

    .statistics_more {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        width: 100%;
    }

    .header_page_container {
        position: relative;
        display: none;
        flex-direction: row;
        gap: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        right: 150px;
    }

    .header_buttons_container {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }


    footer {
        display: none;
    }

    aside {
        display: none;
    }

}